
.nav
	font-size: 0
	display: flex
	justify-content: space-between
	&__item
		display: flex
		width: 312px
		height: 100px
	&__link
		position: relative
		display: flex
		flex-grow: 1
		align-items: center
		justify-content: center
		flex-direction: column
		border-top: 4px solid #ccc
		border-bottom: 1px solid #ccc
		border-left: 1px solid #ccc
		padding: 18px 5px
		overflow: hidden
		+aa
		&:hover
			.nav__title
				opacity: .8
			.nav-icon
				opacity: .8
			em
				width: $width
				height: calc(312px * 2.25)
				// z-index: 0
				transition: width 0.2s ease-in-out 0s, height 0.2s ease-in-out 0s
		&.mod-fiolet
			border-color: #9A98BB
			background-color: #B3B3D7
		&.mod-green
			border-color: #BBC8AD
			background-color: #D9E5CA

		&.mod-beige
			border-color: #CDC5BF
			background-color: #F2EBE7
		&.mod-fi
			border-color: #9C86B0
			background-color: #B79FCA
		em
			position: absolute
			display: block
			width: 0
			height: 0
			border-radius: 50%
			background-color: #F1ECF4
			-webkit-transition: width 0.4s ease-in-out 0s, height 0.4s ease-in-out 0s
			transition: width 0.4s ease-in-out 0s, height 0.4s ease-in-out 0s
			-webkit-transform: translate(-50%, -50%)
			transform: translate(-50%, -50%)
			// z-index: -1

	&__title
		position: relative
		margin-top: auto
		font-size: 15px
		text-transform: uppercase
		letter-spacing: .01em
		color: #000
		+tr(.2s)
		z-index: 1
	&-icon
		position: relative
		display: inline-block
		height: 30px
		min-height: 30px
		vertical-align: top
		margin-bottom: 18px
		fill: #32323C
		+tr(.2s)
		z-index: 1

