<div class="slide">
	<a href="#" class="slide__item">
		<img src="static/img/content/startscreen/sl-01.png" alt="slidePic" class="slide__pic">
		<div class="slide__content">
			<img src="static/img/content/startscreen/sl-01-logo.png" alt="pic" class="slide__content-pic">
			<div class="slide__text">
				<h4 class="title__l">Добро пожаловать</h4>
				<p class="slide__desc">на страницу отдела Диджитал <br> и Мультиканального <br> маркетинга</p>
			</div>
		</div>
	</a>
</div>
<div class="slide">
	<a href="#" class="slide__item">
		<img src="static/img/content/startscreen/sl-02.png" alt="slidePic" class="slide__pic">
		<div class="slide__content">
			<img src="static/img/content/startscreen/sl-01-logo.png" alt="pic" class="slide__content-pic">
			<div class="slide__text">
				<h4 class="title__l">Диджитал и медицина</h4>
				<p class="slide__desc">для чайников</p>
			</div>
		</div>
	</a>
</div>
<div class="slide">
	<a href="#" class="slide__item slide-wide">
		<img src="static/img/content/startscreen/sl-03.jpg" alt="slidePic" class="slide__pic">
	</a>
</div>