<aside class="page__aside">
  <ul class="aside__list">
    <li class="aside__item is-active">
       <h6 class="aside__title">О нас </h6>
       <ul class="aside__sublist">
          <li class="aside__subitem">
            <a href="#" class="aside__sublink">Структура отдела</a>
          </li>
          <li class="aside__subitem">
            <a href="#" class="aside__sublink">roles & capabilities</a>
          </li>
          <li class="aside__subitem">
            <a href="#" class="aside__sublink">MCM</a>
         </li>
       </ul>
    </li>

    <li class="aside__item">
       <h6 class="aside__title">Материалы</h6>
       <ul class="aside__sublist">
         <li class="aside__subitem">
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
         </li>
       </ul>
    </li>
    <li class="aside__item">
       <h6 class="aside__title">Руководство по работе</h6>
       <ul class="aside__sublist">
         <li class="aside__subitem">
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
           <a href="#" class="aside__sublink">lorem</a>
         </li>
       </ul>
    </li>
    <li class="aside__item">
       <h6 class="aside__title">Новости </h6>
       <ul class="aside__sublist">
         <li class="aside__subitem">
           <a href="#" class="aside__sublink">lorem</a>
         </li>
         <li class="aside__subitem">
           <a href="#" class="aside__sublink">lorem</a>
         </li>
         <li class="aside__subitem">
           <a href="#" class="aside__sublink">lorem</a>
         </li>
       </ul>

    </li>
  </ul>
</aside>
